.play_btn {
    /* position: absolute; */
    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block; */
    /* height: 1.5em; */
    /* text-align: center; */
    font: 48px/1.5 sans-serif;
    /* color: white; */
    text-shadow: 0 0 0.5em black;
}

/* .video_thmb {    
    position: relative;
    height:100%;
    width:100%;
} */

.js-video-button {
    cursor:pointer; 
}